body{
    display: flex;
    flex-direction: column;
    align-items:center;
}
input, button, select{
    margin: 10px;
    width: 30%;
    font-size: 200%;
    text-align: center;
}

select{
    margin-top: 50px;
}